@use "../../../../SCSS/variables" as v;

.layout {
  height: v.$vh;
  margin: v.$rem-1;
  padding: v.$rem-1;

  &__title {
    margin: v.$rem-1;
    color: #0a2b5e;
    font-size: v.$rem-5;
  }

  &__image-container {
    width: v.$percent;
    height: v.$vh;
    margin-bottom: v.$rem-1;
  }

  &__image {
    width: v.$percent;
    height: v.$percent;
  }

  .title {
    text-align: center;
    font-size: v.$rem-5;
    color: v.$primary;
    cursor: pointer;
  }

  .divider-vertical {
    height: v.$percent;
  }
}
