@use "../../../SCSS/variables" as v;

.card-container {
  width: v.$percent;
  padding: v.$rem-1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .card {
    max-width: 400px;
    background-color: v.$primary;
    color: v.$white;
    margin: {
      bottom: v.$rem-1;
    }

    &__header {
      margin: {
        bottom: v.$rem-1;
      }
      color: v.$secondary;
    }

    &__content {
      padding: v.$rem-1;
    }

    &__actions {
      display: flex;
      justify-content: space-around;
      gap: v.$rem-1;
    }

    &__btn {
      width: v.$percent;
    }

    &__progress {
      background-color: v.$secondary;
    }
  }
  .info {
    background-color: v.$info;
    color: v.$secondary;
  }

  .buy {
    background-color: v.$success;
    color: v.$buy;
  }

  .divider {
    background-color: v.$secondary;
  }
}
