<div class="card-container">
  <mat-card class="card">
    <mat-card-header class="card__header">
      <mat-card-title>Children</mat-card-title>
    </mat-card-header>
    <mat-divider class="divider"></mat-divider>
    <ng-template [ngIf]="showImage">
      <img
        mat-card-image
        src="../../../assets/images/student-1.jpg"
        alt="english image"
      />
    </ng-template>
    <mat-card-content class="card__content">
      <p>
        vitae cumque rerum recusandae expedita vero, suscipit quaerat ipsam
        perferendis impedit. Ducimus aut, placeat inventore ullam temporibus
        aspernatur debitis asperiores. Ab, numquam. Nisi, aut vero. Officiis
        ipsum saepe sequi? Est, adipisci iure velit laudantium quibusdam ut
        eveniet at porro consequuntur repudiandae ex molestiae officia quam
        aliquid sint fuga neque. Optio, illo? Aut libero ratione dolorum
        sapiente dolor quo minus. Distinctio unde ipsam perferendis vero quam
        dolorum maxime voluptate sequi. Harum neque hic repellendus laboriosam
        suscipit. Distinctio quo repudiandae asperiores officia id, rerum
        nesciunt nisi eius! Ullam iste magnam ea!
      </p>
    </mat-card-content>
    <mat-divider class="divider"></mat-divider>
    <mat-card-actions class="card__actions">
      <button mat-raised-button class="card__btn info">Info</button>
      <button mat-raised-button class="card__btn buy">Buy</button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar
        mode="indeterminate"
        class="card__progress"
      ></mat-progress-bar>
    </mat-card-footer>
  </mat-card>

  <mat-card class="card">
    <mat-card-header class="card__header">
      <mat-card-title>Adults</mat-card-title>
    </mat-card-header>
    <mat-divider class="divider"></mat-divider>
    <ng-template [ngIf]="showImage">
      <img
        mat-card-image
        src="../../../assets/images/student-4.jpg"
        alt="english image"
      />
    </ng-template>
    <mat-card-content class="card__content">
      <p>
        vitae cumque rerum recusandae expedita vero, suscipit quaerat ipsam
        perferendis impedit. Ducimus aut, placeat inventore ullam temporibus
        aspernatur debitis asperiores. Ab, numquam. Nisi, aut vero. Officiis
        ipsum saepe sequi? Est, adipisci iure velit laudantium quibusdam ut
        eveniet at porro consequuntur repudiandae ex molestiae officia quam
        aliquid sint fuga neque. Optio, illo? Aut libero ratione dolorum
        sapiente dolor quo minus. Distinctio unde ipsam perferendis vero quam
        dolorum maxime voluptate sequi. Harum neque hic repellendus laboriosam
        suscipit. Distinctio quo repudiandae asperiores officia id, rerum
        nesciunt nisi eius! Ullam iste magnam ea!
      </p>
    </mat-card-content>
    <mat-divider class="divider"></mat-divider>
    <mat-card-actions class="card__actions">
      <button mat-raised-button class="card__btn info">Info</button>
      <button mat-raised-button class="card__btn buy">Buy</button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar
        mode="indeterminate"
        class="card__progress"
      ></mat-progress-bar>
    </mat-card-footer>
  </mat-card>

  <mat-card class="card">
    <mat-card-header class="card__header">
      <mat-card-title>Companies</mat-card-title>
    </mat-card-header>
    <mat-divider class="divider"></mat-divider>
    <ng-template [ngIf]="showImage">
      <img
        mat-card-image
        src="../../../assets/images/student-5.jpg"
        alt="english image"
      />
    </ng-template>
    <mat-card-content class="card__content">
      <p>
        vitae cumque rerum recusandae expedita vero, suscipit quaerat ipsam
        perferendis impedit. Ducimus aut, placeat inventore ullam temporibus
        aspernatur debitis asperiores. Ab, numquam. Nisi, aut vero. Officiis
        ipsum saepe sequi? Est, adipisci iure velit laudantium quibusdam ut
        eveniet at porro consequuntur repudiandae ex molestiae officia quam
        aliquid sint fuga neque. Optio, illo? Aut libero ratione dolorum
        sapiente dolor quo minus. Distinctio unde ipsam perferendis vero quam
        dolorum maxime voluptate sequi. Harum neque hic repellendus laboriosam
        suscipit. Distinctio quo repudiandae asperiores officia id, rerum
        nesciunt nisi eius! Ullam iste magnam ea!
      </p>
    </mat-card-content>
    <mat-divider class="divider"></mat-divider>
    <mat-card-actions class="card__actions">
      <button mat-raised-button class="card__btn info">Info</button>
      <button mat-raised-button class="card__btn buy">Buy</button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar
        mode="indeterminate"
        class="card__progress"
      ></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>
