<mat-toolbar class="toolbar">
  <span class="toolbar__title" routerLink="/">Vlue English</span>
  <span class="toolbar__space"></span>

  <div class="toolbar__btn-conatainer">
    <button mat-raised-button class="btn" routerLink="/">Home</button>
    <button mat-raised-button class="btn" routerLink="/lessons">Lessons</button>
    <button mat-raised-button class="btn" routerLink="/about">About</button>
    <button mat-raised-button class="btn" routerLink="/">Blog</button>
    <button mat-raised-button class="btn" routerLink="/">Info</button>
  </div>
</mat-toolbar>
