@use "../../../../SCSS/variables" as v;

.layout {
  height: auto;
  margin: v.$rem-1;
  padding: v.$rem-1;

  &__image-container {
    width: v.$percent;
    height: v.$vh;
    background-color: aqua;
    margin-bottom: v.$rem-1;
  }

  &__image {
    width: v.$percent;
    height: v.$percent;
  }

  .title {
    margin: v.$rem-1;
    font-size: v.$rem-5;
    color: v.$primary;
  }
}
