<mat-card class="layout">
  <h2 class="layout__title" routerLink="lessons">About Us</h2>
  <mat-divider></mat-divider>
  <div class="layout__container">
    <img
      src="../../../assets/images/english-3.jpg"
      alt="english image"
      class="layout__image"
    />
    <div class="layout__text">
      <h2 class="title" routerLink="lessons">Our Lessons</h2>
      <p class="paragraph">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus, at
        ullam. Exercitationem, quisquam quia cum vel minus odio! Adipisci nihil
        atque debitis quia mollitia. Eos odit praesentium quod omnis itaque.
      </p>
    </div>
  </div>

  <div class="layout__container-2">
    <img
      src="../../../assets/images/english-3.jpg"
      alt="english image"
      class="layout__image"
    />
    <div class="layout__text">
      <h2 class="title" routerLink="lessons">Our Lessons</h2>
      <p class="paragraph">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus, at
        ullam. Exercitationem, quisquam quia cum vel minus odio! Adipisci nihil
        atque debitis quia mollitia. Eos odit praesentium quod omnis itaque.
      </p>
    </div>
  </div>
</mat-card>
