/*
? Colors
*/
$primary: #0a2b5e;
$secondary: #00f7ff;
$white: #f2f2f2;
$dark: #0b1015;
$success: #73a84c;
$buy: #6aff00;
$info: #3b7fe6;

/*
! Measures
*/
$rem-1: 1rem;
$rem-2: 1.5rem;
$rem-3: 2rem;
$rem-4: 2.5rem;
$rem-5: 3rem;
$rem-6: 3.5rem;

/*
! Percentages
*/
$percent-1: 10%;
$percent-2: 20%;
$percent-3: 30%;
$percent-4: 40%;
$percent-5: 50%;
$percent-6: 60%;
$percent-7: 70%;
$percent-8: 80%;
$percent-1: 90%;
$percent: 100%;

/*
! Viewports
*/
$vw-1: 10vw;
$vh-1: 10vh;
$vw-2: 20vw;
$vh-2: 20vh;
$vw-3: 30vw;
$vh-3: 30vh;
$vw-4: 40vw;
$vh-4: 40vh;
$vw-5: 50vw;
$vh-5: 50vh;
$vw-6: 60vw;
$vh-6: 60vh;
$vw-7: 70vw;
$vh-7: 70vh;
$vw-8: 80vw;
$vh-8: 80vh;
$vw-9: 90vw;
$vh-9: 90vh;
$vw: 100vw;
$vh: 100vh;
