@use "../../../../SCSS/variables" as v;

.toolbar {
  background-color: v.$primary;
  color: v.$white;

  &__title {
    font-size: v.$rem-2;
    font-weight: 600;
  }

  &__space {
    flex: 1 1 auto;
  }

  &__btn-conatainer {
    display: flex;
    gap: v.$rem-1;
    .btn {
      font-weight: bold;
      color: v.$primary;
      transition: all, 0.5s ease-in-out;
      &:hover {
        background-color: v.$primary;
        color: v.$secondary;
      }
    }
  }
}
